<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout4}">
<link href="css/product.css" rel="stylesheet">
<body id="apply-page"> <!-- 대출 신청 완료 메시지 -->
	<div layout:fragment="content">
		<div class="container px-4 px-lg-5">
			<div align="center">대출 신청이 완료되었습니다 </div><br/>
			<div align="center"><a th:href="@{myloan}">가입 상품 조회</a>&nbsp;<a th:href="@{index}">메인으로</a></div>
		</div>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	</div>
</body>
</html>