<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout5}">
<head>
<title>문의사항</title>
<link rel="stylesheet" th:href="@{css/customer.css/mailpassword.css}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" th:href="@{css/modal.css}" />
<script th:inline="javascript">
window.onload=function(){
	var showModalVar1 = "";
	showModalVar1 = [[${showModalVar1}]];
	if (showModalVar1 === undefined ||  showModalVar1 === "null" || showModalVar1 === "fail") {
		showModal("아이디 또는 비밀번호가 틀렸습니다.");
	  }
}
/*
function submitForm() {
    var showModalVar1 = [[${showModalVar1}]];
    alert(showModalVar1);
	  if (showModalVar1 === undefined || showModalVar1 === "" || showModalVar1 === "null" || showModalVar1 === "fail") {
	    showModal("아이디 또는 비밀번호가 틀렸습니다.");
	  }else{
		  document.getElementById("form").submit();
	  }
	  
}
*/
	  function showModal(message) {
	    var modal = document.createElement("div");
	    modal.className = "modal";
	    modal.innerHTML = '<div class="modal-content">' +
	        '<div class="modal-header">' +
	        '<span class="close">&times;</span>' +
	        '</div>' +
	        '<div class="modal-body">' +
	        '<p>' + message + '</p>' +
	        '</div>' +
	        '</div>';

	    var closeButton = modal.querySelector(".close");
	    
	    closeButton.onclick = function () {
	        modal.style.display = "none";
	    }

	    document.body.appendChild(modal);
	    modal.style.display = "block";
	    
	    
	}
</script>
<body>
<!-- 
${session.user_id} : session에 저장된 user_id 읽어오기
 -->
	<div layout:fragment="content">
		<div class="container_chgPwd">
			<h3>본인 확인 인증</h3><br/>
			<!-- th:object로 컨트롤러에서 bean 객체를 전달받음 -->
			<form id="form" th:action="@{/upDelpage1}" method="post">
			
				<label for="user_name">이름:</label>
	 		    <input type="text" name="customer_email_name">
				
				<label for="user_jumin">비밀번호:</label>
				<input type="password" name="customer_email_password">
				<input type="hidden" name="customer_email_no" th:value="${param.customer_email_no}" />
<!-- 				<input type="submit" value="확인" class="btn"> -->
				<!-- <button type="button" class="btn" onclick="submitForm()">확인</button> -->
				<button type="submit" class="btn">확인</button>
			</form>
		</div>
	</div>
</body>
</html>