<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layouts/layout5}">
<head>
<title>FAQ</title>
<link rel="stylesheet" th:href="@{css/admin.css/faqinsert.css}" />
</head>
<body>
	<div layout:fragment="content">
	<div class="container_faq">
		<h1>FAQ 자료 입력</h1>
		<form class="search-form" th:action="@{faqinsert}" method="post">
			<label for="category">카테고리:</label>
			<select name="customer_faq_category">
				<option value="조회/출금">조회/출금</option>
				<option value="예금/적금/대출">예금/적금/대출</option>
				<option value="민원처리">민원처리</option>
				<option value="홈페이지">홈페이지</option>
			</select>
			<input class = "question-input"type="text" name="customer_faq_question" placeholder="질문">
			<textarea class="answer-input" name="customer_faq_answer" placeholder="답변" rows="6"></textarea>
			<input type="submit" value="등록">
		</form>
	
</body>
</html>
