<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="content">
                                <ul class="footer-bottom-links">
                                <li><a th:href="@{/terms}">Terms of use</a></li>
                                    <li><a href="https://acornedu.co.kr/">Site Map</a></li>
                                   <li><a th:href="@{/aboutintromain}">Information</a></li>
                                </ul>
                                <p class="copyright-text">Created and Developed by 우미성
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
</footer>